/*******************/
/*** Page Layout ***/
/*******************/

.container {
  margin: 0 auto;
  max-width: 52em;
  position: relative;
}

#page {
  position: absolute;
  top: 4em;
  left: 12em;
  max-width: 40em;
  box-sizing: border-box;
  padding: 0.3em;
}

#toc-flex {
  position: fixed;
  top: 0em;
  left: auto;
  width: 12em;
  max-width: 12em;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#spacer {
  flex: 0 0 auto;
  width: 12em;
  height: 12px;
}
#toc {
  flex: 1 1 auto;
  overflow: scroll;
}



#head {
  position: fixed;
  top: 0px;
  left: auto;
  box-sizing: border-box;
  background-color: white;
}

#title {
  margin: 0;
}

#gradient-bit {
  position: fixed;
  top: 0;
  left: auto;
  height: 8px;
  width: 12em;
  background: rgba(0,0,0,0.25);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.25)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
}

@media (max-width: 42em) {
  #page {
    position: static;
  }
  #toc {
    display: none;
  }
  #head {
    display: none;
  }
}

/*******************/
/*** Base Styles ***/
/*******************/

body {
  font-family: 'Lora', Georgia, serif;
}

a {
  color: #FE4365;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 700;
}

.pull-right {
  float: right;
}

code, .code {
  font-family: 'Source Code Pro', monospace;
}

code {
  background-color: #f3f3f3;
  padding: 0.1em 0.3em;
  display: inline-block;
  font-size: 11pt;
  color: black;
  border-right: 2px solid #EAEAEA;
  border-bottom: 2px solid #EAEAEA;
  border-radius: 5px;
}

pre code {
  color: black;
  display: block;
  border: 0;
  background-color: #f8f8f8;
  border-left: 2px solid #EFEFEF;
  border-top: 2px solid #EFEFEF;
}

@media (max-width: 38em) {
  body, h4, code, pre {
    font-size: 10pt;
  }
  h3 {
    font-size: 11pt;
  }
  h2 {
    font-size: 13pt;
  }
}

/********************************/
/*** Syntax Highlighing Stuff ***/
/********************************/

span.param, a.param {
  color: #72920B;
}
span.method, a.method {
  color: #0A6592;
}

span.function, a.function {
  color: #0A86C5;
}

span.class, a.class,
span.interface, a.interface {
  color: #BD0E04;
}

span.type-arg, a.type-arg {
  color: #008972;
}

span.punct, a.punct,
span.builtin-type, a.builtin-type {
  color: #555;
}

h2 .punct, h3 .punct, h4 .punct,
h2 .builtin-type, h3 .builtin-type, h4 .builtin-type {
  font-weight: 400;
}

/********************************/
/*** Minor structural Styling ***/
/********************************/

div.interface > div.method,
div.interface > div.property,
div.function > div.function-signature,
div.class > div.method {
  border-left: 2px dotted #ddd;
  padding-left: 10px;
}

a.anchor {
  float: right;
  display: block;
  padding: 0.5em;
  color: #EEE;
  outline: none;
}

a.anchor:hover {
  color: #AAA;
}

div.method > h4 {
  padding: 0.3em 0em;
  border-bottom: 2px dotted #ddd;
  padding-bottom: 0.6em;
  margin-bottom: 0.2em;
}

div.interface, div.function, div.class {
  border-top: 2px solid #e9e9e9;
  margin: 3.2em 0em;
}

@media (max-width: 38em) {
  div.interface, div.function {
    margin: 0.5em 0em;
    padding: 0.5em 0em;
  }
}

/******************/
/*** TOC Styles ***/
/******************/

#toc ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 0.6em;
  padding: 0.2em 1em;
  font-size: 10pt;
}
#toc li > a {
  color: black;
  font-weight: 400;
  font-family: 'Source Code Pro', monospace;
}
#toc li.active > a {
  color: #DB133B;
  font-weight: 700;
}
#toc li.subheading {
  text-transform: uppercase;
  font-family: "Questrial", sans-serif;
  letter-spacing: 0.2em;
  font-size: 9pt;
  color: #555;
  padding: 0.1em 0;
  margin: 0.5em 0;
  border-bottom: 1px solid #e0e0e0;
}

#toc li.interface > a, #toc li.property > a {
  font-weight: 700;
}

#toc li.function > a {
  color: #0A86C5;
}

#toc li.method > a {
  color: #0A6592;
}

.github {
  padding: 0em 0.2em;
}

/**************************/
/*** Documentation Bits ***/
/**************************/

div.note {
  background-color: #D0F1EF;
  float: right;
  border-radius: 3px;
  margin-left: 0.5em;
  margin-top: 0.5em;
  padding: 0.2em 0.4em;
}
div.note > p {
  margin: 0;
}

div.see-also {
  font-size: 10pt;
  border-left: 4px solid #3FB8AF;
  background-color: #f8f8f8;
  border-radius: 3px;
}

div.see-also > p {
  padding: 0.5em;
}

div.see-also > p > .label {
  text-transform: uppercase;
  font-family: "Questrial", sans-serif;
  letter-spacing: 0.2em;
  font-size: 9pt;
  color: #555;
  padding: 0 0.4em;
}
